
.theme-day {
    --white: #FFFFFF;
    --blue: #1D72C2;
    --lblue: #0683f9;
    --mblue: #8ec7fc;
    --green: #429c41;
    --dred: #bb3e3f;
    --red: #de0028;
    --orange: #ff6f00;
    --yellow: #ffc700;
    --lgrey: #959595;
    --dgrey: #e8e8e8;

}
