.theme-day {
  --white: #FFFFFF;
  --blue: #1D72C2;
  --lblue: #0683f9;
  --mblue: #8ec7fc;
  --green: #429c41;
  --dred: #bb3e3f;
  --red: #de0028;
  --orange: #ff6f00;
  --yellow: #ffc700;
  --lgrey: #959595;
  --dgrey: #e8e8e8;
  --tblack: #333333;
  --bground: #C6CACC;
  --b2ground: rgba(0,0,0,0.60); }

html {
  scroll-behavior: smooth; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }
body {
  font-family: 'Open Sans', sans-serif; }

main {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%; }

.main__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 560px;
  height: 430px;
  margin-top: 100px;
  padding: 30px;
  background-color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #CCCCCC; }
  .main__login h2 {
    margin-top: 55px;
    font-weight: bold;
    font-size: 24px;
    color: var(--blue); }
  .main__login p {
    font-weight: bold;
    color: var(--blue);
    margin: 25px 0 8px 0px; }
  .main__login input {
    width: 380px;
    height: 36px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 0 12px;
    outline: none;
    color: var(--tblack); }
  .main__login button {
    width: 173px;
    height: 42px;
    border-radius: 2px;
    font-size: 16px; }
    .main__login button:hover {
      -webkit-box-shadow: 1px 1px 4px 1px #CCCCCC;
              box-shadow: 1px 1px 4px 1px #CCCCCC; }

.email_input {
  margin-top: 25px; }

.login_button {
  margin-top: 50px;
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid #CCCCCC; }
