@import 'reset';
@import 'variables';

body {
    font-family: 'Open Sans', sans-serif;
}

// HEADER-------------------

header {
    height: 64px;
    background: var(--blue);
}

.header__main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 30px;
}

.header__logo {
    font-weight: bold;
    font-size: 24px;
    color: var(--white);
}

.menu__items {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header__menu {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        height: 100%;
    }

    li {
        margin-left: 34px;
        height: 100%;
        
        a {
            text-decoration: none;
            color: inherit;
            color: var(--white);
        }
        
    }

    hr {
        display: none;
        position: absolute;
        width: 100%;
        margin: 0;
        border: 2px solid var(--white);
        bottom: 0;
    }
    
}

.menu__link:hover + hr {
    display: block;
}


// MAIN SECTION-------------------

button {
    cursor: pointer;
}

.main__search {
    margin: 39.6px 29.6px;
    

    h3 {
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
    }
}

.second__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__section {
    display: flex;
    align-items: center;
}

.search__bar {
    width: 502px;
    height: 41px;
    margin-right: 9px;
    padding: 0;
    border: 1px solid #CCCCCC;
}

.search__button {
    width: 41px;
    height: 41px;
    background-color: var(--white);
    // background-image: url("../assets/search.svg");
    // background-repeat: no-repeat;
    // background-position: center;
    border: 1px solid #CCCCCC;
}
